/* .container{
    width: 100%;
    height: 100vh;
    display: flexbox;
    justify-content: center;
    align-items: center;
}
.form{
    padding: 100px;
    background-color: aquamarine;
    border: 20px;
} */